@import "compass/css3";
@import "normalize";
@import "base";
@import "settings";

body {
  font-family:$body-font;
  color:$color-darkgray;
}

.wrap-content {
  max-width:$max-content-width;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.wrap-text {
  max-width:$max-text-width + 40;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
}

img {
  max-width:100%;
  display:inline-block;
}

.icon {
  font-family:$icon-font;
}

header {
  box-shadow:0 1px 2px rgba(0,0,0,.2);
  height:70px;
  font-family:$heading-font;
  z-index:10;

  #logo {
    background:image-url("theindustry-logo.svg");
    width:198px;
    height:70px;
    display:inline-block;
    font-size:0;
    color:transparent;
    background-size:152px;
    background-position:23px 23px;
    background-repeat:no-repeat;
    padding:23px;
    z-index:10;
  }

  nav {
    text-transform:uppercase;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    font-size:18px;
    z-index:2;

    ul {
      top:9px;
      margin:0;
      left:-5px;
      padding:10px 0 10px 10px;
      text-align:left;
      display:inline-block;
      height:51px;
      overflow:hidden;

      &:hover {
        border-radius:4px;
        @include shadow();
        background:#fff;
        height:auto;
        left:auto;
        overflow:visible;

        a {
          padding:0 20px 0 10px;
        }

        li {
          padding-left:6px;
          display:block;
        }

        .sections {display:none;}

        .active a, a:hover {
          background:transparent;
          color:#fff;
        }

        .active {
          position:relative;
          top:0;
          left:0;
          right:0;
          z-index:0;
          text-align:left;

          a {
            border:0;
            border-radius:0;
            height:auto;
            line-height:48px;

            &:after {display:none;}
          }
        }

        .news        {background-color:$color-news;}
        .podcasts    {background-color:$color-podcasts;}
        .video       {background-color:$color-video;}
        .opinions    {background-color:$color-opinions;}
        .reviews     {background-color:$color-reviews;}
        .interviews  {background-color:$color-interviews;}
        .conferences {background-color:$color-conferences;}
      }
    }

    .active {
      top:-9px;
      overflow:visible;
      background:#fff;
      text-align:center;
      margin:0;
      width:100%;
      display:inline-block;

      a {
        border:1px solid #d2d4d7;
        border-radius:2px;
        margin:0;
        padding:0 15px;
        display:inline-block;

        &:after {
          content:"\25be";
          color:#c0bec6;
          font-size:25px;
          position:relative;
          top:1px;
          line-height:0;
          padding-left:10px;
        }
      }
    }

    li {
      display:none;
      height:48px;
      line-height:48px;
    }

    a {
      display:block;
      background:#fff;
      text-decoration:none;
      color:$color-darkgray;
    }
  }

  .right-nav {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
    height:100%;
    z-index:10;
    font-size:0;

    li {
      display:inline-block;
      line-height:29px;
      font-size:$body-text-size;
      vertical-align:top;
    }

    span {
      display:inline-block;
    }

    .search {
      form {
        border-radius:4px;
        display:inline-block;
        overflow:hidden;
        width:50px;
        height:40px;
        top:15px;

        input[type="text"] {
          border-radius:2px;
          display:inline-block;
          border:0;
          height:26px;
          padding:2px 10px 0 10px;
          font-size:14px;
          color:$color-lightgray;
          margin:7px 0 7px 7px;
          box-shadow:0 1px 3px rgba(#000,.3) inset,
                     0 0 1px rgba(#000,.3) inset;
          @include background(linear-gradient(rgba(#000,.04), transparent));
          opacity:0;
          display:none;
        }

        &:hover {
          @include shadow();
          width:auto;

          input[type="text"] {
            opacity:1;
            display:inline-block;
            margin-right:50px;
          }
        }

        input[type="submit"] {
          font-family:$icon-font;
          color:$color-lightgray;
          background:transparent;
          border:0;
          font-size:32px;
          position:absolute;
          top:4px;
          right:6px;
          height:100%;
          text-align:left;
        }
      }
    }

    .share {
      margin-top:15px;
      margin-right:15px;
      margin-left:10px;
      width:50px;

      .share-module {
        border-radius:4px;
        line-height:0;
        width:50px;

        &:hover {
          background:#fff;
          @include shadow();
          cursor:pointer;
          width:140px;
          position:absolute;
          right:0;

          .share-title{
            font-size:16px;
            text-indent:20px;
          }
          .share-item {
            display:block;
          }
        }
      }
      
      .share-title {
        color:$color-lightgray;
        line-height:35px;
        padding:2px 5px 3px 5px;
        font-size:0;
      }
      
      .icon {
        font-size:37px;
        vertical-align:middle;
        float:right;
        top:3px;
        right:5px;
      }

      .share-item {
        text-align:center;
        padding:15px 0;
        border-top:1px solid #d6d5d8;
        font-size:0;
        display:none;

        > * {
          height:20px!important;
          margin:0 auto;
          padding:0;
          width:100px;
        }
      }
    }

    .podcast {
      font-size:0;
      height:76px;
      padding-bottom:6px;
      margin-bottom:-6px;

      .podcast-icon {
        display:inline-block;
        height:70px;
        padding:0 20px;
        line-height:70px;
        background:$color-lightgray;
        @include background(linear-gradient($color-lightgray, darken($color-lightgray,5%)));
        color:#fff;
        font-size:40px;
        vertical-align:top;
      }

      .podcast-player {
        display:inline-block;
        @include gradient();
        font-size:$body-text-size;
        height:70px;
        padding:0 20px 0 0;
        cursor:pointer;
        @include transition(margin ease-in-out 500ms);

        .play-button {
          display:inline-block;
          height:70px;
          line-height:74px;
          padding:0 20px;
          font-weight:bold;
          color:#fff;
          font-size:30px;
          text-decoration:none;
          vertical-align:top;
          font-family:$icon-font;
        }

        .track-information {
          display:inline-block;
          line-height:70px;
          font-family:$body-font;
        }

        .live-status {
          position:absolute;
          color:#82d4e6;
          font-size:10px;
          top:-13px;
          font-weight:bold;
          text-transform:uppercase;
        }

        .episode-number {
          font-size:14px;
          color:#fff;

          &:after {
            content:"\25be";
            padding-left:5px;
            color:$color-lightgray;
            font-size:17px;
          }
        }

        .podcast-browser {
          border-radius:4px;
          background:#fff;
          @include shadow();
          position:absolute;
          right:5px;
          margin-top:5px;
          width:430px;
          font-family:$body-font;
          display:none;

          &:before {
            content:"";
            position:absolute;
            right:50px;
            top:-15px;
            border-left:15px solid transparent;
            border-right:15px solid transparent;
            border-bottom:15px solid #fff;
          }

          .podcast-list {
            margin:0;
            padding:0;
            list-style:none;
            background:#f4f5f5;
            display:inline-block;
            border-right:1px solid #bbb;
            border-radius:4px 0 0 4px;
            overflow:hidden;

            li {
              display:block;
              font-size:14px;
              color:$color-lightgray;
              line-height:1em;
              padding:12px;
              font-weight:bold;

              + li {
                border-top:1px solid #c3c4c4;
              }
            }
          }
        }
      }
    }
  }
}

@mixin article-accent($color) {
  $accent:$color;

  a {color:$accent;}

  &.accent-color,
  .accent-color {color:$accent;}

  &.accent-background,
  .accent-background {background-color:$accent;}
  
  &.accent-border,
  .accent-border {border-color:$accent;}
}

.article {
  @import "pages";
}

article {
  @import "pages";

  h4 {
    margin:0 0 5px 0;
    font-family:$heading-font;
    font-weight:normal;
    font-size:20px;
    line-height:1em;
  }

  img {
    display:block;
  }

  .article-background {
    @include gradient();
    padding:0;

    .article-image {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      width:100%;
      overflow:hidden;
      border-bottom-style:solid;
      border-bottom-width:10px;
      @extend .accent-border;

      img {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        @include opacity(.5);
      }
    }

    .title {
      color:#fff;
    }

    .article-meta {
      position:absolute;
      bottom:0;
      left:0;
      max-width:100%;
      @include background(linear-gradient(transparent, rgba(#000,.3)));

      .author {
        border-radius:2px;
        background:$color-darkgray;
        
        .author-name {
          color:#fff;
        }
      }

      .share {
        background:#fff;
        color:$color-lightgray;
      }
    }
  }

  .article-badge {
    text-align:center;
    font-size:0;
    
    img {
      width:170px;
      height:170px;
      display:inline-block;
      padding:10px;
      background:#fff;
      border-radius:4px;
      @include shadow();
    }
  }

  .article-header {
    .show-title {
      @extend .accent-color;
      text-align:center;
      font-weight:normal;
      @extend .wrap-content;
      margin:0 auto;
      font-family:$heading-font;
      font-size:24px;
    }

    .title {
      text-align:center;
      font-weight:normal;
      @extend .wrap-content;
      margin:0 auto;
      font-family:$heading-font;
      font-size:42px;
    }

    .date {
      text-align:center;
      color:$color-lightgray;
      font-size:18px;
    }
  }

  .article-meta {
    padding:10px;
    overflow:hidden;
    @extend .wrap-content;
    max-width:$max-content-width+20;

    .author {
      float:left;
      overflow:hidden;
      height:50px;

      img {
        position:absolute;
        width:50px;
        height:50px;
        border-radius:2px;
      }

      .author-name {
        float:left;
        font-size:13px;
        color:$color-darkgray;
        font-weight:bold;
        text-align:left;
        padding:10px 10px 10px 60px;

        &:before {
          content:"By";
          display:block;
          font-size:12px;
          font-weight:normal;
          color:$color-lightgray;
        }
      }
    }

    .share {
      background:$color-darkgray;
    }

    .comments {
      background:$color-lightgray;
    }

    .category {
      @extend .accent-background;
    }

    a {
      text-decoration:none;
      display:inline-block;
      font-size:16px;
    }

    .meta-links {
      float:right;
      margin:0;
      padding:0;
      font-size:0;
    }

    li {
      display:inline-block;
      margin-left:10px;

      a {
        color:#fff;
        padding:16px;
        border-radius:2px;
      }
    }
  }

  .audio-player {
    @extend .wrap-content;
    text-align:center;
    height:100px;
    line-height:100px;
    background:#fff;
    border-radius:4px;
    @include shadow();
  }

  .video-player {
    @extend .wrap-content;
    text-align:center;
    overflow:hidden;

    .video-player-inner {
      padding-bottom:56.25%;
      height:0;
    }

    iframe,
    object,
    embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  .item-info {
    background:#f4f5f5;
    border:1px solid #dcdedf;
    border-left:0;
    border-right:0;
    padding:20px 0;
    text-align:center;

    .item-details {
      display:inline-block;
      vertical-align:top;
      padding:15px 0 0 0;
    }

    img {
      padding:5px;
      width:110px;
      display:inline-block;
      border-radius:2px;
      background:#fff;
      margin:0 20px 0 0;
      @include shadow();
    }

    h4 {
      text-align:left;
      margin:0 0 5px 0;
    }

    .link-title {
      color:$color-lightgray;
      font-size:14px;
      display:block;
      margin-bottom:5px;
      text-align:left;
      font-weight:bold;
    }

    .item-links {
      color:$color-lightgray;
      font-size:0;
      font-weight:bold;
      text-align:left;

      a {
        display:inline-block;
        background:$color-lightgray;
        color:#fff;
        font-size:14px;
        text-decoration:none;
        border-radius:2px;
        padding:5px 10px;

        + a {margin-left:10px;}
      }
    }
  }

  .on-the-show {
    text-align:center;

    .on-the-show-inner {
      display:inline-block;
      background:#fff;
      padding:5px;
      border-radius:4px;
      @include shadow();
      @extend .wrap-content;
      width:auto;
    }

    h4 {
      clear:both;
      margin:0;
      padding:15px;
    }

    .person {
      display:inline-block;
      padding:5px;

      img {
        border-radius:4px;
        width:150px;
      }

      .person-details {
        position:absolute;
        top:5px;
        right:5px;
        bottom:5px;
        left:5px;
        border-radius:4px;
        color:#fff;
        padding:20px;
        @include opacity(0);
        z-index:1;
        @extend .accent-background;
        @include transition(opacity ease-in-out 500ms);

        &:hover {
          @include opacity(.85);
        }

        .name {
          font-family:$heading-font;
          font-size:18px;
          line-height:22px;
          margin-bottom:15px;
        }

        .title {
          font-family:$heading-font;
          font-size:14px;
          color:$color-darkgray;
        }
      }
    }
  }

  .more-from-show {
    background:#f4f5f5;
    border:1px solid #dcdedf;
    border-left:0;
    border-right:0;
    margin:10px 0;

    .more-from-show-inner {
      background:#fff;
      padding:10px;
      border-radius:4px;
      @include shadow();
      @extend .wrap-content;
      overflow:hidden;
      margin:-10px auto;
    }

    .title {
      font-size:14px;
      vertical-align:bottom;
      margin-bottom:10px;

      a {
        font-weight:bold;
        text-decoration:none;
        vertical-align:top;
      }
    }

    .episodes {
      overflow:hidden;
    }

    ul {
      margin:0;
      padding:0;
      list-style:none;
      font-size:0;
      width:9999%;
    }

    li {
      display:inline-block;

      & + li {margin-left:10px;}

      & + li                     {@include opacity(.9);}
      & + li + li                {@include opacity(.8);}
      & + li + li + li           {@include opacity(.7);}
      & + li + li + li + li      {@include opacity(.6);}
      & + li + li + li + li + li {@include opacity(.5);}

      a {
        display:block;
        border-radius:2px;
        width:120px;
        height:120px;
        padding:15px;
        text-align:center;
        color:#fff;
        text-decoration:none;
        @extend .accent-background;
        
        .episode-title {
          font-weight:bold;
          font-size:14px;
          margin-bottom:1em;
        }

        .episode-number {
          font-size:12px;

          &:before {
            content:"Episode ";
          }
        }
      }
    }
  }

  .interview-content {
    border:1px solid #d4d2d9;
    border-left:0;
    border-right:0;
    border-bottom:0;

    .question,
    .answer {
      overflow:hidden;
      @extend .wrap-text;
      top:-1px;
      margin-bottom:-1px;
      padding-top:0;
      padding-bottom:0;

      &:last-child {
        .interview-person {

          &:before {
            content:"";
            position:absolute;
            background:#fff;
            width:10px;
            left:0;
            width:100%;
            height:100%;
          }
        }
      }

      &:before {
        background:#f4f5f5;
        border:1px solid #dcdedf;
        border-top:0;
        border-bottom:0;
        content:"";
        height:100%;
        @extend .wrap-text;
        padding:0;
        top:1px;
        position:absolute;
        left:25px;
        width:2px;
      }

      .interview-person {
        float:left;
        width:12.5%;
        margin-top:1px;
        position:static;

        img {
          padding:5px;
          width:100%;
          display:block;
          border-radius:2px;
          background:#fff;
          margin:0 0 10px 0;
          @include shadow();
        }

        .name {
          text-align:center;
          font-family:$heading-font;
          font-size:14px;
        }
      }

      .interview-text {
        float:right;
        width:87.5%;
        padding-left:25px;
        top:1px;
      }

      p {
        max-width:none;
        padding:0;
      }
    }
  }

  .article-talk-list {
    background:#f4f5f5;
    border:1px solid #dcdedf;
    border-left:0;
    border-right:0;
    margin:10px 0;

    > ul {
      background:#fff;
      border-radius:4px;
      @include shadow();
      @extend .wrap-content;
      overflow:hidden;
      margin:-10px auto;
      list-style:none;
      padding:0;
    }

    li {

      + li {
        border-top:1px solid #cbcace;
      }
    }

    a {
      display:block;
      padding:30px;
      text-decoration:none;
      color:$color-darkgray;
    }

    .conference-name {
      display:block;
      font-family:$heading-font;
      font-size:14px;
      margin-bottom:10px;
      @extend .accent-color;
    }

    .talk-name {
      display:block;
      font-family:$heading-font;
      font-size:20px;
      margin-bottom:15px;
    }

    .talk-comments {
      color:$color-lightgray;
      font-size:12px;
      font-weight:bold;
      margin-right:15px;
      z-index:0;
      padding-top:4px;
      padding-left:7px;

      &:after {
        content:"c";
        font-family:$icon-font;
        position:absolute;
        top:0;
        left:0;
        font-size:34px;
        z-index:-1;
        color:#e3e3e3;
      }
    }

    .talk-timestamp {
      color:$color-lightgray;
      font-size:12px;
    }
  }

  .article-content {

    h1,h2,h3,h4,h5,p {
      @extend .wrap-text;
    }

    p {
      font-size:$body-text-size;
      line-height:1.6em;
    }

    .image {
      margin:0 auto;
      @extend .wrap-content;

      img {width:100%;}

      .caption {
        position:absolute;
        bottom:0;
        width:100%;
        padding:10px 15px;
        background:#000;
        @include background(linear-gradient(transparent, #000));
        color:#fff;
        line-height:1.4em;
        @include opacity(0);
        @include transition(opacity linear 200ms)
      }

      &:hover {
        .caption {@include opacity(1)}
      }
    }
  }

  .article-end {
    background:image-url("theindustry-badge.svg") center;
    height:$spacing;
    background-size:$spacing;
    background-repeat:no-repeat;
  }

  .article-sponsor {
    margin:0 auto;
    @extend .wrap-text;
    overflow:hidden;
    padding:0 $spacing;

    img {
      margin-bottom:15px;
    }

    h3 {
      font-weight:normal;
      font-size:20px;
      margin:0 0 10px 0;
    }

    p {
      font-size:14px;
      line-height:1.4em;
      font-family:$body-font;
      color:$color-lightgray;
      margin:0;
      padding:0 20px;
    }

    .sponsor {
      display:block;
      text-align:center;
      color:#fff;
      font-family:$heading-font;
      font-size:24px;
      @include gradient();
      width:47.5%;
      float:left;

      img {
        display:inline-block;
      }

      a {
        color:#fff;
        text-decoration:none;
        display:inline-block;
        padding:35px;
      }

      + .sponsor {
        margin-left:5%;
      }

      &:only-child {
        width:100%;
        float:none;
        padding-left:25%;
        padding-right:25%;
      }

      .sponsor-this {
        position:absolute;
        bottom:0;
        right:0;
        color:$color-lightgray;
        font-family:$body-font;
        font-size:12px;
        padding:10px;
      }
    }
  }

  .article-comments {
    @extend .wrap-content;

    .view-comments {
      border:1px solid $color-lightgray;
      display:block;
      border-radius:4px;
      padding:20px;
      text-align:center;
      font-family:$heading-font;
      cursor:pointer;
      color:$color-darkgray;
      text-decoration:none;
    }
  }
}

.featured-articles {
  @include gradient();
  text-align:center;
  font-size:0;
  padding:15px 0;

  .article {
    display:inline-block;
    width:350px;
    height:360px;
    color:#fff;
    padding:30px;
    vertical-align:top;
    overflow:hidden;
    border-radius:4px;
    font-size:$body-text-size;
    margin:15px;
    text-align:left;
    text-decoration:none;
    @include shadow();
    border-color:darken($color-darkgray,10%);
    @extend .accent-background;
  }

  p {display:none;}

  .article-image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    @include background(linear-gradient(transparent 50%, rgba(#000,.2)));

    img {
      width:auto;
      max-width:none;
      position:absolute;
      height:100%;
      @include opacity(.2);
    }
  }

  .show-title {
    color:$color-darkgray;
    font-family:$heading-font;
    margin-bottom:15px;
    margin-top:-1px;
  }

  .title {
    color:#fff;
    font-family:$heading-font;
    font-weight:normal;
    line-height:36px;
    top:-7px;
    font-size:36px;
  }

  .author-image {
    border-radius:50%;
    width:50px;
    border:2px solid #fff;
    border:0 solid rgba(0,0,0,0);
    box-shadow:0 0 0 3px rgba(#fff,.3),
               0 0 0 2px rgba(#000,.3);
    float:left;
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
  }

  .article-meta {
    position:absolute;
    left:75px;
    right:10px;
    bottom:20px;
    font-size:0;

    .author-name {
      display:block;
      font-size:12px;
      margin-bottom:3px;
      padding-top:11px;
    }

    .category,
    .date {
      @include opacity(.6);
      display:inline-block;
      font-size:12px;
    }

    .category {
      &:after {
        content:"\25cf";
        padding:0 5px;
      }
    }

    .comments {
      display:none;
    }
  }
}

.article-grid {
  background:#f4f5f5;
  border:1px solid #dcdedf;
  border-left:0;
  border-right:0;
  margin:75px 0;

  .article-grid-inner {
    @extend .wrap-content;
    max-width:$max-content-width+20;
    text-align:center;
    font-size:0;
    margin:-85px auto;
  }

  .article {
    display:inline-block;
    width:300px;
    border-radius:4px;
    @include shadow();
    overflow:hidden;
    text-align:left;
    margin:10px;
    font-size:$body-text-size;
    background:#fff;
    vertical-align:top;
    text-decoration:none;
    padding-bottom:40px;

    .article-image {
      @extend .accent-background;
      height:130px;
      overflow:hidden;

      img {
        display:block;
        @include opacity(.2);
      }
    }

    .show-title {
      @extend .accent-color;
      font-family:$heading-font;
      margin-bottom:15px;
      margin:25px 20px 10px 20px;

      + .title {
        margin-top:0;
      }
    }

    .title {
      font-family:$heading-font;
      font-weight:normal;
      font-size:22px;
      line-height:1em;
      margin:25px 20px 20px 20px;
      color:$color-darkgray;
    }

    p {
      color:$color-lightgray;
      font-size:14px;
      line-height:1.4em;
      margin:20px;
    }

    .author-image {
      position:absolute;
      top:110px;
      right:7px;
      border-radius:50%;
      width:40px;
      border:2px solid #fff;
      border:0 solid rgba(0,0,0,0);
      box-shadow:0 0 0 2px #fff;
    }

    .article-meta {
      position:absolute;
      width:100%;
      padding:20px;
      bottom:0;
      display:block;

      .author-name {
        display:none;
      }

      .comments {
        color:$color-lightgray;
        font-size:12px;
        font-weight:bold;
        margin-right:15px;
        z-index:0;
        padding-top:4px;
        padding-left:7px;

        &:after {
          content:"c";
          font-family:$icon-font;
          position:absolute;
          top:0;
          left:0;
          font-size:34px;
          z-index:-1;
          color:#e3e3e3;
        }
      }

      .date {
        color:$color-lightgray;
        font-size:12px;
      }

      .category {
        float:right;
        color:#fff;
        font-size:12px;
        font-weight:bold;
        border-radius:2px;
        padding:5px 7px;
        @extend .accent-background;
      }
    }
  }
}

.full-sponsor {
  margin:0 auto;
  overflow:hidden;
  @include gradient();
  text-align:center;

  .full-sponsor-inner {
    @extend .wrap-content;
    position:static;
  }

  img {
    margin-bottom:15px;
  }

  h3 {
    font-weight:normal;
    font-size:20px;
    margin:0 0 10px 0;
  }

  p {
    font-size:14px;
    line-height:1.4em;
    font-family:$body-font;
    color:$color-lightgray;
    margin:0;
    padding:0 20px;
  }

  .sponsor {
    display:block;
    text-align:center;
    color:#fff;
    font-family:$heading-font;
    font-size:24px;
    width:47.5%;
    float:left;
    position:static;

    img {
      display:inline-block;
    }

    a {
      color:#fff;
      text-decoration:none;
      padding:70px 35px;
      display:inline-block;
      text-align:center;
    }

    + .sponsor {
      margin-left:5%;

      .sponsor-this {display:none;}
    }

    &:only-child {
      width:50%;
      min-width:320px;
      float:none;
      display:inline-block;
    }

    .sponsor-this {
      position:absolute;
      bottom:0;
      right:0;
      color:$color-lightgray;
      font-family:$body-font;
      font-size:12px;
      padding:10px;
    }
  }
}

.auxiliary {
  @extend .wrap-content;
  font-size:0;
  text-align:center;

  .left,
  .middle,
  .right {
    display:inline-block;
    width:313px;
    vertical-align:middle;
    font-size:$body-text-size;

    h2 {
      color:$color-darkgray;
      font-family:$heading-font;
      font-weight:normal;
      text-align:center;
      font-size:26px;
      margin-bottom:20px;
    }
  }

  .left {
    ul {
      border-radius:4px 0 0 4px;
    }
  }

  .middle {
    z-index:1;
  }

  .right {
    ul {
      border-radius:0 4px 4px 0;

      li {
        border-left:0;
        border-right-width:5px;
        border-right-style:solid;
      }
    }
  }

  ul {
    border-radius:4px;
    @include shadow();
    display:block;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    background:#fff;
    text-align:left;

    li {
      border-left:5px solid;

      + li {
        a {border-top:1px solid #c8ccd0;}
      }
    }

    a {
      display:block;
      padding:10px;
      text-decoration:none;
      overflow:hidden;
    }

    .badge {
      width:100px;
      display:block;
      float:left;
      margin-right:10px;
    }

    .title {
      color:$color-darkgray;
      font-family:$heading-font;
      font-weight:normal;
      line-height:1.1em;
      font-size:18px;
    }

    .author-image {
      position:absolute;
      bottom:10px;
      right:10px;
      border-radius:50%;
      width:40px;
    }

    .article-meta {
      position:absolute;
      bottom:10px;
      left:120px;
      font-size:12px;
      color:$color-lightgray;
    }

    .author-name {
      display:none;
    }

    .air-day {
      display:block;
      color:$color-darkgray;
      font-size:14px;
      line-height:1em;
      margin:0 0 3px 0;
    }

    .date {
      font-weight:bold;
    }

    .news        {border-color:$color-news;}
    .podcasts    {border-color:$color-podcasts;}
    .video       {border-color:$color-video;}
    .opinions    {border-color:$color-opinions;}
    .reviews     {border-color:$color-reviews;}
    .interviews  {border-color:$color-interviews;}
    .conferences {border-color:$color-conferences;}
  }
}

footer {
  @extend .wrap-content;
  overflow:hidden;
  min-height:195px;
  margin-bottom:20px;

  .footer-social {
    font-size:0;
    width:240px;
    float:left;
    
    ul {
      margin:0;
      padding:0;
      list-style:none;
      color:#fff;
      overflow:hidden;
      border-radius:2px;
    }

    li {
      float:left;
      width:80px;
      height:80px;
      background:#b5b2ba;
      font-size:14px;
      font-weight:bold;
      overflow:hidden;
    }

    a {
      display:block;
      width:80px;
      height:80px;
      background-size:50px;
      background-position:15px 15px;
      background-repeat:no-repeat;
    }

    .social-title {
      padding:10px;
      word-spacing:100px;
    }

    a {
    }

    .twitter {
      background:#00a0d1;
      a {background-image:image-url("twitter.svg");}
    }

    .facebook {
      background:#3b5998;
      a {background-image:image-url("facebook.svg");}
    }
    .pinterest {
      background:#c8232c;
      a {background-image:image-url("pinterest.svg");}
    }
    .googleplus {
      background:#343131;
      a {background-image:image-url("googleplus.svg");}
    }
    .youtube {
      background:#c4302b;
      a {background-image:image-url("youtube.svg");}
    }
  }

  .footer-nav {
    overflow:hidden;

    .sub-links {
      float:left;
      margin:0 0 0 50px;
      padding:0;
      list-style:none;

      li {

        + li a {
          margin-top:1px;
        }
      }

      a {
        display:block;
        color:$color-darkgray;
        text-decoration:none;
        font-weight:bold;
        padding:5px 7px;
        font-size:14px;
        border-radius:2px;
      }
    }

    .sections {
      float:right;
      margin:0;
      padding:0;
      list-style:none;

      li {
        text-align:right;
        float:right;
        clear:right;

        + li a {
          margin-top:1px;
        }
      }

      a {
        display:block;
        float:right;
        color:#fff;
        text-decoration:none;
        font-weight:bold;
        padding:5px 7px;
        font-size:14px;
        border-radius:2px;
      }

      .news a        {background-color:$color-news;}
      .podcasts a    {background-color:$color-podcasts;}
      .video a       {background-color:$color-video;}
      .opinions a    {background-color:$color-opinions;}
      .reviews a     {background-color:$color-reviews;}
      .interviews a  {background-color:$color-interviews;}
      .conferences a {background-color:$color-conferences;}
    }
  }

  .copyright {
    width:240px;
  }

  .hosting {
    left:297px;
    overflow:hidden;
  }

  .copyright,
  .hosting {
    font-size:12px;
    color:$color-lightgray;
    position:absolute;
    bottom:0;
    padding:5px 0;

    a {
      color:$color-lightgray;
      font-weight:bold;
      text-decoration:none;
    }
  }
}

@import "breakpoints";
